@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-feature-settings: normal;
    -webkit-tap-highlight-color: transparent;

}

:root.dark {
    color-scheme: dark;
}

[dir='rtl'] select {
    background-position: left 0.5rem center !important;
    padding-left: 2.5rem;
    padding-right: 0.75rem;
}